/** Style sheet for Cognitive Processes Study */

* {
	font-family:       "Verdana", sans-serif;
    font-size:          24px;
	text-align:			center;
	/* disable text selection */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

div[id="wordText"] {
    padding-top:        75px;
    font-size:          48px;
}

div[id="initialInstructionText"]>p {
    display:            inline;
}

div[id="retrievalInstructionText"], div[id="thankYouText"] {
    padding-top:        75px;
}

div[id="initialInstructionText"], div[id="retrievalInstructionText"], div[id="thankYouText"] {
    padding-left:       20%;
    padding-right:       20%;
}

button {
    margin-top:        20px;
    width:             200px;
}

div[id="participantNumber"] {
    margin-top:        20px;
}